<section>
    <h1 data-aos="zoom-in" data-aos-duration="2000">Sobre Mi</h1>
    <div class="container">
      <img src="./../../../../assets/foto1.jpeg" alt="" data-aos="fade-right" data-aos-duration="2000">
      <div class="texto" data-aos="fade-left" data-aos-duration="2000">
        <p>
          Me llamo  Mario Romero, tengo 24 años, soy estudiante de Ing Electrónica en la UTN FRC. Además trabajo como Programador utilizando Angular e Ionic en la parte del Front.
        </p>
        <p>Llegué a la programación por curiosidad y desde ese momento no paré de aprender, gracias a esto pude realizar trabajos de manera freelancer. Ahora mi meta es trabajar en una empresa en la que pueda colaborar y generar resultados, crecer como profesional y en un futuro ayudar a otros. </p>
      </div>
    </div>
  </section>
  