<section>
    <h1 data-aos="zoom-in" data-aos-duration="2000">Proyectos</h1>
      <div class="container">
          <mat-card class="card1" data-aos="fade-right" data-aos-duration="2000">
              <mat-card-header>
                <mat-card-title>Desarrollo Freelancer</mat-card-title>
                <mat-card-subtitle>Centro PEyC</mat-card-subtitle>
              </mat-card-header>
              <img mat-card-image src="./../../../../assets/centroPEyC.png" alt="centropeyce">
              <mat-card-content>
                <p>
                 Por requerimiento del cliente se desarrolló utilizando el CMS de Wordpress.
                </p>
              </mat-card-content>
              <mat-card-actions>
                  <button mat-button>
                      <a target="_blank" href="https://centropeyc.com.ar/">
                          Visitar sitio
                      </a>
                  </button>
              </mat-card-actions>
            </mat-card>
  
          <mat-card class="card2" data-aos="zoom-in" data-aos-duration="3000">
            <mat-card-header>
              <mat-card-title>Desarrollo Freelancer</mat-card-title>
              <mat-card-subtitle>E-commerce Velka Accesorios </mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="./../../../../assets/velka.png" alt="e-commerce">
            <mat-card-content>
              <p>
                  Tienda online desarrollada con Angular y typescript.
              </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>
                    <a target="_blank" href="https://platzi-store-a.web.app/home">
                        Visitar sitio
                    </a>
                </button>
            </mat-card-actions>
          </mat-card>
          
          <mat-card class="card3" data-aos="fade-left" data-aos-duration="2000">
            <mat-card-header>
              <mat-card-title>Desarrollo Freelancer</mat-card-title>
              <mat-card-subtitle>Aplicacion MiGualeguay </mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="./../../../../assets/gualeapp.png" alt="e-commerce">
            <mat-card-content>
              <p>
               Aplicacion movíl desarrollada con el Framework Ionic y Typescript.
              </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>
                    <a target="_blank" href="https://github.com/marioromero959/Expedientes">
                        Ver código
                    </a>
                </button>
            </mat-card-actions>
          </mat-card>
  
      </div>
  </section>
  