h1,p{
    color: #fff;
    margin: 20px;
}
section h1{
    text-align: center;
}
mat-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
    width: 100%;
    height: 35em;
    img{
        height:200px;
    }
}
.container{
    display: flex;
    align-items: center;
}

  button a{
      text-decoration: none;
      color: #fff ;
  }
    .card1 {
        background-color: rgb(72 136 0 / 47%);
    }
    .card2 {
      background-color: rgb(136 0 72 / 47%);
    }
    .card3  {
      background-color: rgb(0 72 136 / 47%);
    }

mat-card-title,mat-card-subtitle{
    color:#fff
}
mat-card-actions{
    text-align: center;
}
span{
    color: red;
}
  @media (max-width:480px){

    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
  
    .presentacion img{
        width: 80%;
        padding: 20px;
        border: 1px solid #fff;
        border-radius: 10px;
    }
    .container h2{
        text-align: center;
    }
    mat-card{
        margin: 20px;
        width:auto;    
        height: auto;
    }
}