
<section class="container" data-aos="zoom-in"
data-aos-offset="100"
data-aos-duration="1000"
data-aos-easing="ease-in-sine">
    <div class="cabecera" >
        <h1>Mario <br> <br> Romero</h1>
        <h2>Desarrollador <span>Angular</span></h2>
    </div>
    <div class="presentacion">
        <img src="./../../../../assets/foto3.jpeg" alt="desarrollador">
        <p>Tengo un gran interés por el mundo de
            la tecnología, soy estudiante avanzado de ing electrónica y además estudio programación de forma autodidacta .</p>
    </div>
</section>
<div class="swiper">
    <app-swiper></app-swiper>
</div>