<div class="container">
    <a target="_blank" href="https://github.com/marioromero959">
        <img src="./../../../../../assets/githubIcon.png">
        github
    </a>
    <a target="_blank" href="https://www.linkedin.com/in/mario-romero-8a65741a4/">
        <img src="./../../../../../assets/linkedinIcon.png">
        linkedin
    </a>
    <a target="_blank" href="https://api.whatsapp.com/send?phone=543517648146&text=Hola%20Mario!">
        <img src="./../../../../../assets/whatsappIcon.png">
        whatsapp
    </a>
    <a target="_blank" href="https://www.instagram.com/mariorom959/">
        <img src="./../../../../../assets/instagramIcon.png">
        instagram
    </a>
</div>