.container{
    // background: linear-gradient(180deg, rgba(0,0,0,1) 30%, rgba(121,0,0,1) 50%, rgba(0,0,0,1) 70%);
    margin: 0;
    padding: 0;
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    justify-content: center;
    align-items: center;
}
app-footer{
    position: relative;
    bottom: 0;
}
