.particulas{
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -1;
}
.container{
    background: linear-gradient(180deg, rgba(0,0,0,1) 30%, rgba(121,0,0,1) 50%, rgba(0,0,0,1) 70%);
    margin: 0;
    padding: 0;
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
app-footer{
    position: relative;
    bottom: 0;
}